*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    transition: .5s;
}
@font-face {
    font-family: 'Sora', sans-serif;
    src: url('../font/Sora/Sora-Regular.ttf');
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
}
.bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fl-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center {
    justify-content: center;
    align-items: center;
}
.fl-coll{
    display: flex;
    flex-direction: column;
}
.fl-wrap{
    display: flex;
    flex-wrap: wrap;
}
.sp-btwn{
    justify-content: space-between;
}
.hide{
    display: none;
}
.bl-pd{
    padding: 80px 0;
}
.block-title {
    font-size: 50px;
    line-height: 50px;
    color: #232323;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
}
.see-more {
    font-size: 16px;
    color: #232323;
    font-weight: 400;
    font-family: 'Sora', sans-serif;
    opacity: .5;
}
.see-more:hover{
    opacity: 1;
}
.add-tobasket-popap{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: #232323;
    z-index: 5;
}
.add-tobasket-popap p{
    font-size: 16px;
    color: #fff;
    font-family: 'Sora', sans-serif;
}

/*header*/
.header {
    width: 100%;
    overflow-x: hidden;
}

.header-fix{
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.sticky {
    position: fixed;
    background-color: #353535;
  }
.top-bar {
    background: #353535;
    padding: 20px 0;
    
}

.header-banner {
    position: relative;
    z-index: 3;
}
.header-banner span{
    line-height: 26px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 23px;
    font-family: 'Sora', sans-serif;
}

.sale-sum {
    font-weight: 400;
}
.bootom-bar {
    padding: 25px 0;
}
.burger{
    cursor: pointer;
}
.burger-line {
    width: 22px;
    height: 2px;
    background-color: #fff;
}
.burger-line:nth-child(2) {
    margin: 5px 0;
}
.menu-item {
    padding: 0 20px;
}
.menu-link {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-family: 'Sora', sans-serif;
}
.logo a{
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Sora', sans-serif;
    letter-spacing: 9px;
}
.menu-icon-item a{
    display: block;
}
.menu-icon-item svg{
    width: 32px;
    height: auto;
}
.menu-icon-item {
    margin: 0 20px;
}
.header-banner-items{
    margin-top: 60px;
    width: 100%;
}
.header-banner-bg{
    height: 100%;
}
.header-banner-bg img{
    height: 100%;
}
.header-catalog-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: rgba(56,56,56,.5);
    backdrop-filter: blur(44px);
    transform:  translateX(-100%);
}
.menu-basket>a,
.menu-wishlist>a{
    position: relative;
}
.menu-product-count{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    color: #232323;
    padding: 2px;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
}
.catalog-menu-open{
    animation: catalog-menu-open 2s forwards;
}

@keyframes catalog-menu-open {
    0%{
        transform:  translateX(-100%);
    }
    100%{
        transform:  translateX(0);
    }  
}
.catalog-menu-close{
    animation: catalog-menu-close 2s forwards;
}
@keyframes catalog-menu-close {
    0%{
        transform:  translateX(0);
    }
    100%{
        transform:  translateX(-100%);
    }  
}
ul.menu-list.main-menu {
    margin-top: 100px;
}
.main-menu-block li:not(.submenu li){
    padding: 20px 0;
}
.open-submenu>a span{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 1px;
    top: -5px;
    background-color: #fff;
    transform: rotate(0);
    margin-left: 20px;
}
.open-submenu>a span::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #fff;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.open-submenu-anim::after{
    animation: open-submenu-anim .5s forwards;
}
@keyframes open-submenu-anim {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0);
    }
}
.submenu li a{
    font-size: 16px;
}
ul.submenu.hide {
    margin-top: 15px;
}

/*stores*/
.stores-item{
    cursor: pointer;
}
.stores-prev-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.stores-prev-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.stores-title {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .02em;
    color: #232323;
    margin-top: 20px;
    font-family: 'Sora', sans-serif;
}
/*collection*/
.collections {
}
.collections-items {
}
.collections-item {
    position: relative;
    height: 100%;
}
.collections-item-img {
    width: 100%;
    height: 800px;
}
.collections-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collections-item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Sora', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.collections-items .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.collections-items button {
    position: absolute;
}
.collections-items button.owl-next {
    right: 0;
}
.collections-items button.owl-prev {
    left: 0;
}
.collections-items button span {
    color: #fff;
    font-size: 54px;
}
/*new-prod*/
.product-cards {
    margin-top: 30px;
}
.product-card {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}
.product-label p{
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.product-img {
    height: 500px;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-title {
    margin: 15px 0 10px 0;
}
.product-title a{
    font-size: 16px;
    line-height: 20px;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.product-price {
    font-size: 16px;
    line-height: 20px;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.add-to-basket p{
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    font-family: 'Sora', sans-serif;
    text-align: center;
}
.product-size {
    text-align: center;
    margin-top: 5px;
}
.product-size span{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #383838;
    font-family: 'Sora', sans-serif;
    padding: 0 10px;
    cursor: pointer;
}
.product-size span:hover{
    background-color: #f5f4f4;
}
.product-label {
    background: white;
    position: absolute;
    border-radius: 2px;
    padding: 5px;
    top: 10px;
    left: 10px;
}
.product-label p{
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    color: #d10000;
}
.product-color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.product-color span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #d10000;
}
.card-bottom-blocks {
    margin-top: 10px;
}
.product-color-is-active {
    border: 2px solid #b1b1b1;
}
.product-favorites{
    cursor: pointer;
}
.product-favorites svg{
    width: 20px;
    height: auto;
}
.product-favorites-active svg{
    fill: #bcbbbb;
}

.product-img-wrap{
    position: relative;
    overflow: hidden;
}
.add-to-basket {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 20px 0;
    transform: translateY(100%);
}
.product-card:hover .add-to-basket{
    transform: translateY(0);
}
.added{
    background-color: #f5f4f4;
}
/*hit*/
ul.hit-product-menu{
    column-gap: 20px;
}
ul.hit-product-menu li{
    position: relative;
    cursor: pointer;
    padding: 5px;
}
ul.hit-product-menu li a{
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    font-family: 'Sora', sans-serif;
}
.active-hit::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: #232323;
    width: 100%;
    height: 1px;
}
/*lookbook*/
.lookbook-items {
    margin-top: 30px;
}
.lookbook-item {
    height: 470px;
}
.lookbook-img {
    height: 100%;
}
.lookbook-item img{
    height: 100%;
    object-fit: cover;
}
/*footer*/
.footer{
    background-color: #e4e4e4;
    padding: 30px 0;
}

.form-title {
    width: 70%;
}
.form-title h4{
    font-size: 24px;
    line-height: 32px;
    color: grey;
    font-family: 'Sora', sans-serif;
}
.footer-form-row {
    position: relative;
    width: 300px;
}
.footer-form-row .inp-wrap{
    width: 100%;
}
.inp {
    outline: none;
    padding: 10px 20px;
    border: solid 1px #b1b1b1;
    font-size: 14px;
    color: #232323;
    font-family: 'Sora', sans-serif;
    width: 100%;
}
.inp::placeholder{
    font-size: 14px;
    color:grey;
    font-family: 'Sora', sans-serif;
}
.footer-form-row:first-child{
    margin: 10px 0;
}

.inp-btn {
    background-color: #232323;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #232323;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-form-row label{
    font-size: 14px;
    color:  grey;
    font-family: 'Sora', sans-serif;
}
.phone-number a{
    font-size: 36px;
    line-height: 20px;
    color: grey;
    font-family: 'Sora', sans-serif;
}
.footer-icon-item {
    cursor: pointer;
}
.footer-icon-item svg path,
.phone-number span svg path{
    fill: grey;
}
.footer-icon-item svg path:hover,
.phone-number span svg path:hover{
    fill: #232323;
}
.phone-number {
    margin-bottom: 30px;
}
.phone-number span svg{
    width: 30px;
    height: auto;
}
.footer-icons.fl-row {
    justify-content: flex-end;
    column-gap: 20px;
}
/*sores-popap*/
.stores-popap{
    display: none;
    position: fixed;
    z-index: 6;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: rgba(56,56,56,.5);
    backdrop-filter: blur(44px);
}
.stores-navbar {
    margin-bottom: 20px;
}
.stores-popap-prev-img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
p.stores-popap-title {
    font-size: 14px;
    color:  #fff;
    font-family: 'Sora', sans-serif;
}
.stores-popap-close-btn{
    position: relative;
    right: 10px;
    cursor: pointer;
}
.stores-popap-close-btn span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 1px;
    height: 20px;
    display: block;
}
.stores-popap-close-btn span:first-child{
    transform: rotate(-45deg);
}
.stores-popap-close-btn span:last-child{
    transform: rotate(45deg);
}
.stores-popap-content {
    position: relative;
}
.stores-popap-wrap {
    margin: 0 auto;
    width: 50%;
}
.stores-progressbar {
    background: rgba(0, 0, 0, .4);
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}
.stores-progressbar-item {
    height: 1px;
    background: rgba(255, 255, 255, .4);
    margin: 0  2px;
    position: relative;
}
.stores-progressbar-item:first-child {
    margin-left: 0;
}
.stores-progressbar-item:last-child {
    margin-right: 0;
}
.stores-progressbar-item::after{
    position: absolute;
    content: '';
    z-index: 7;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #000;
    
}
.active-progressbar:after{
    animation: anim 5s forwards;
}

@keyframes anim {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.stores-slider{
    width: 100%;
}
.stores-slider-item {
    height: 720px;
    width: 100%;
}
.stores-slider-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*basket*/

.black-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    background: rgba(0,0,0,.6);
}
.basket-popap{
    display: none;
}
.fix-block{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    background-color: #fff;
}
.basket-popap-wrap {
    width: 530px;
    height: 100vh;
    align-items: center;
}
.basket-show{
    animation: basket-show .5s forwards;
}
@keyframes basket-show {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
.basket-hide{
    animation: basket-hide .5s forwards;
}
@keyframes basket-hide {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
.basket-top-bar {
    height: 60px;
    padding: 0 30px;
    border-bottom: 1px solid rgba(177, 177, 177, .26);
    position: relative;
}

.basket-top-bar::after {
    content: '';
    position: absolute;
    top: 0;
    right: 60px;
    width: 1px;
    height: 100%;
    background-color: rgba(177, 177, 177, .26);
}
.basket-title p{
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.popup-close-btn{
    position: relative;
    cursor: pointer;
}
.popup-close-btn span {
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #b1b1b1;
    position: absolute;
    top: -10px;
}
.popup-close-btn span:last-child {
    transform: rotate(45deg);
}
.popup-close-btn span:first-child {
    transform: rotate(-45deg);
}
.popup-close-btn:hover span {
    background:  #1b1b1b;
}

.empty-basket p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    font-family: 'Sora', sans-serif;
    color: #383838;
}
.basket-btn a{
    background: #383838;
    padding: 10px 18px;
    font-size: 12px;
    font-family: 'Sora', sans-serif;
    color: #fff;
}
.basket-btn.fl-row.center {
    margin-top: 20px;
}
.basket-chekout-btn{
    width: 100%;
    background: #383838;
    padding: 20px 0;
    text-align: center;
}
.basket-chekout-btn a {
    font-size: 16px;
    font-family: 'Sora', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
.basket-price>div {
    border-top: 1px solid rgba(177, 177, 177, .26);
    padding: 10px 30px;
}
.price-title {
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
}
.sale-sum{
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}
.total-sum{
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #383838;
}
.basket-items {
    padding: 0 30px;
}
.basket-item {
    column-gap: 20px;
}
.basket-item-img {
    width: 30%;
}
.basket-item-img img{
    width: 100%;
    height: auto;
}
.basket-item-content {
    width: 70%;
}
.basket-prod-name a {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Sora', sans-serif;
    color: #383838;
    cursor: pointer;
}
.basket-prod-articule{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: .02em;
    color: #b1b1b1;
    font-family: 'Sora', sans-serif;
}
.basket-prod-price{
    font-family: 'Sora', sans-serif;
    line-height: 20px;
    text-align: right;
    letter-spacing: .02em;
    font-size: 16px;
    color: #383838;
}
.old-price{
    text-decoration: line-through;
    font-size: 14px;
    color: #b1b1b1;    
}
.basket-prod-articule {
    margin-top: 10px;
}
.basket-prod-color {
    margin: 15px 0;
}
.collor-name{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .02em;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
span.basket-product-color {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
p.basket-item-size{
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    letter-spacing: .02em;
}
.basket-prod-total-price{
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    letter-spacing: .02em;
    color: grey;
}
.qwnt {
    background: rgba(177, 177, 177, .1);
    margin: 0 10px;
}
.qwnt >p {
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 12px;
    color: #b1b1b1;
    padding: 10px 15px;
    cursor: pointer;
}
.qwnt-numb{
    color: #383838;
}
.basket-dell-btn,
.basket-favorites-btn {
    width: auto;
    height: 20px;
    opacity: .8;
    cursor: pointer;
}
.basket-dell-btn img,
.basket-favorites-btn img{
    width: auto;
    height: 100%;
}
.basket-item-content-bottom>div:last-child{
    column-gap: 10px;
}
.basket-dell-btn:hover,
.basket-favorites-btn:hover {
    opacity: 1;
}
.full-basket {
    height: 100%;
}

.basket-content{
    height: calc(100% - 60px);
}
.basket-items, .empty-basket {
    margin-top: 10px;
}
p.error {
    font-size: 14px;
    color: #b20000;
    font-family: 'Sora', sans-serif;
    margin-top: 5px;
}
/*search*/
.search-popap {
    display: none;
}
.search-popap-wrap {
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.search-input-row {
    width: 90%;
}
.search-close-btn {
    width: 10%;
    text-align: right;
    cursor: pointer;
}
.search-close-btn button {
    font-size: 14px;
    color: #383838;
    font-family: 'Sora', sans-serif;
    padding: 7px 25px;
    border: 1px solid rgba(172, 172, 172, .2);
    background: none;
    outline: none;
}
button.search-btn{
    font-size: 14px;
    color: #fff;
    font-family: 'Sora', sans-serif;
    padding: 7px 25px;
    border: 1px solid black;
    background: #000;
    outline: none;
}
.search-input-wrap {
    width: 100%;
    position: relative;
}
.search-input{
    width: 100%;
    border: 1px solid rgba(172, 172, 172, .2);
    padding: 7px 25px;
    outline: none;
    font-size: 14px;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.search-del-btn {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.search-del-btn::after, .search-del-btn::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 1px;
    border: 1px solid rgba(172, 172, 172, .2);
}
.search-del-btn::after{
    transform: rotate(-45deg) translateY(-50%);
}
.search-del-btn::before{
    transform: rotate(45deg) translateY(-50%);
}
.search-popup-content{
    margin-top: 20px;
    align-items: flex-start;
}
.often-searched-title{
    color: #c4c4c4;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}
.search-popup-item{
    padding: 5px 0;
}
.search-popup-item a{
    color: #383838;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}
.search-popap-prod-item{
    position: relative;
}
.search-popap-prod-label{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #000;
    padding: 2px 5px;
}
.search-popap-prod-label p{
    font-size: 12px;
    font-family: 'Sora', sans-serif;
    color: #fff;
}
.search-popap-prod-title a{
    color: #383838;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}
.main-price{
    color: #383838;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}
.old-price {
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    text-decoration: line-through;
    color: #c4c4c4;
    margin-left: 10px;
}
.search-popap-prod-img {
    height: 250px;
    width: auto;
}
.search-popap-prod-img img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.search-popap-prod-title {
    margin: 5px 0;
}
.search-popap-prod-items.fl-row.sp-btwn {
    column-gap: 20px;
}
/*detail-page*/
.main.detail-page {
    margin-top: 160px;
}
.product-block {
    align-items: flex-start;
}
.product-page-images {
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
}
.product-page-image-list {
    width: 100%;
}
.product-page-image-item {
    width: 48%;
    margin-bottom: 20px;
}
.product-page-image-item img {
    width: 100%;
}
.product-page-images::-webkit-scrollbar {
    display: none;
}
.product-page-content{
    width: 47%;
}
.breadcrumbs-item {
    padding-right: 40px;
    position: relative;
}
.breadcrumbs-item::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #b1b1b1;
    top: 50%;
    right: 10px;
    transform: translateX(-50%);
}
.breadcrumbs-item:last-child::before{
    display: none;
}
.breadcrumbs-item a{
    color: #b1b1b1;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}
.breadcrumbs-item a:hover{
    color: #383838
}
.active-breadcrumbs-item a{
    color: #383838
}
.product-page-name{
    margin-top: 20px;
    margin-bottom: 15px;
}
.product-page-name h5{
    color: #383838;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}
.product-page-price.fl-row {
    column-gap: 10px;
}
.product-page-price  p{
    font-family: 'Sora', sans-serif;
}
p.pr-page-old-price {
    text-decoration: line-through;
    color: #b1b1b1;
    font-size: 14px;
}
p.pr-page-price {
    color: #383838;
    font-size: 14px;
}
p.pr-page-sale {
    color: #383838;
    font-size: 12px;
    background: #dddddd;
    padding: 2px;
}
.product-page-color{
    margin-top: 20px;
}
.pr-page-color-value{
    border-radius: 50%;
    width: 7px;
    height: 7px;
    outline: 1px solid grey;
    outline-offset: 1px;
}
.pr-page-color-name{
    font-family: 'Sora', sans-serif; 
    color: #383838;
    font-size: 12px;
    margin-top: 10px;
}
.product-page-size{
    margin-top: 20px;
}
.pr-page-size-list{
    column-gap: 10px;
}
.pr-page-size-item{
    background-color: #ddd;
    padding: 5px 10px;
    cursor: pointer;
}
.pr-page-size-item p{
    font-family: 'Sora', sans-serif; 
    color: #383838;
    font-size: 14px;
    text-align: center;
}
.pr-page-size-item-active{
    background-color: black;
}
.pr-page-size-item-active p{
    color: #fff;
}
.table-size{
    margin-top: 10px;
    font-family: 'Sora', sans-serif; 
    color: #383838;
    font-size: 14px;
    text-decoration: underline;
}
.pr-page-favorites svg{
    width: 20px;
    height: auto;
}
.pr-page-btn-row.fl-row {
    column-gap: 10px;
    margin: 10px 0;
}
button.pr-page-add-to-basket {
    color: #fff;
    background: #000;
    padding: 10px 80px;
    font-size: 16px;
    border: solid 2px #000;
    font-family: 'Sora', sans-serif; 
    cursor: pointer;
}
button.pr-page-quik-order {
    background: none;
    color: #383838;
    font-size: 16px;
    padding: 10px 90px;
    border: solid 2px #383838;
    font-family: 'Sora', sans-serif; 
    cursor: pointer;
}
.store-count p{
    font-family: 'Sora', sans-serif; 
    color: #383838;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #ddd;
}
.product-page-buttons {
    margin: 20px 0;
}
.pr-page-title{
    color: #b1b1b1;
    font-size: 16px;
    font-family: 'Sora', sans-serif; 
    margin-bottom: 20px;
}
.product-page-info p{
    color: #383838;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
    margin: 5px 0; 
}
p.pr-page-articule{
    margin-bottom: 10px;
}
.pr-share-icon-item svg{
    width: 20px;
    height: auto;
}
.product-page-share{
    margin-top: 20px;
}
.share-items{
    column-gap: 20px;
}
.similar-products{
    margin: 50px 0;
}
.white-bg{
    background-color: #fff;
}
.white-bg .logo a{
    color: black;
}
.white-bg .burger-line{
    background-color: black;
}
.white-bg .desc-menu a{
    color: #000;
}
.white-bg .menu-icon-item svg path{
    stroke: #000;
}
.white-bg .menu-basket svg path{
    fill: #000;
}
/*quik-order-popup*/
.quik-order-popup-wrap {
    height: 100%;
}
.quik-order-popup{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 13;
    display: none;
}
.quik-order-popup-topbar {
    height: 60px;
    border-bottom: solid 1px #b1b1b1;
    display: flex;
}
.quik-order-popup-title p{
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #383838;
    font-family: 'Sora', sans-serif;
}
.quik-order-popup-map {
    width: 70%;
    height: 100%;
}
.quik-order-popup-info {
    width: 30%;
    padding: 20px;
}
.quik-order-popup-stores{
    margin-top: 20px;
    border-top: 1px solid #b1b1b1;
}
.popup-stores-item{
    font-size: 14px;
    color: #383838;
    font-family: 'Sora', sans-serif;
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #b1b1b1;
    position: relative;
    cursor: pointer;
}
.popup-stores-item::after, .popup-stores-item::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
}
.popup-stores-item-active::after{
    background-color: #383838;
    height: 6px;
    width: 6px;
    left: 3px;
}
.popup-stores-item::before{
    border:  solid 1px #b1b1b1;
    height: 10px;
    width: 10px;
}
.quik-order-popup-btn{
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    font-family: 'Sora', sans-serif;
    padding: 10px 0;
}
.quik-order-popup-info{
    height: calc(100% - 60px);
}
.quik-order-popup-content.fl-row.sp-btwn {
    height: 100%;
}
@media screen and (max-width: 1919px) and (min-width: 1440px) {
}
@media screen and (max-width: 1439px) and (min-width: 1280px) {
    .collections-item-img {
        width: 100%;
        height: 620px;
    }
    .product-img {
        height: 300px;
    }
}
@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .collections-item-img {
        width: 100%;
        height: 520px;
    }
    .product-img {
        height: 300px;
    }
    .footer-icons {
        justify-content: flex-start;
    }
    .phone-number {
        margin-bottom: 10px;
    }
    .form-title {
        width: 100%;
    }
    .subscibe {
        width: 50%;
    }
    .search-popap-prod-img {
        height: 200px;
    }
    .main.detail-page {
        margin-top: 180px;
    }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .collections-item-img {
        width: 100%;
        height: 620px;
    }
    .quik-order-popup-map {
        width: 50%;
    }
    .quik-order-popup-info {
        width: 50%;
    }
    .main.detail-page {
        margin-top: 180px;
    }
    button.pr-page-quik-order {
        padding: 10px 70px;
    }
    button.pr-page-add-to-basket {
        padding: 10px 60px;
    }
    .breadcrumbs-item {
        padding-right: 30px;
    }
    .breadcrumbs-item::before {
        right: 5px;
    }
    .product-img {
        height: 500px;
    }
    .subscibe, .company-contact {
        width: 50%;
    }
    .form-title {
        width: 100%;
    }
    .phone-number {
        text-align: end;
    }
    .footer-icons {
        justify-content: flex-start;
    }
    .phone-number {
        margin-bottom: 10px;
    }
    .search-popap-prod-items.fl-row.sp-btwn {
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .search-popap-prod-img {
        height: 200px;
        width: auto;
    }
    .search-popap-prod-item {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
    .quik-order-popup-content.fl-row.sp-btwn {
        flex-wrap: wrap-reverse;
        height: inherit;
    }

    .quik-order-popup-map, .quik-order-popup-info {
        width: 100%;
        height: 50%;
    }
    ul.menu-list.main-menu {
        margin-top: 0;
    }
    .top-bar {
        padding: 5px 0;
    }
    .header-banner span {
        font-size: 12px;
    }
    .bootom-bar {
        padding: 15px 0;
    }
    .collections-item-img {
        width: 100%;
        height: 300px;
    }
    .hit-product-top-block{
        flex-direction: column;
    }
    .block-title {
        font-size: 24px;
        line-height: 24px;
    }
    .bl-pd {
        padding: 20px 0;
    }
    .form-title h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .footer-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .phone-number a {
        font-size: 30px;
    }
    .footer-form-row {
        position: relative;
        width: 260px;
    }
    .form-title {
        width: 100%;
    }
    .company-contact {
        margin-top: 20px;
    }
    .footer-icons {
        justify-content: flex-start;
    }
    .phone-number {
        margin-bottom: 10px;
    }
    .stores-prev-img {
        width: 100px;
        height: 100px;
    }
    .menu-link {
        font-size: 14px;
        line-height: 22px;
    }
    .menu-wrap {
        width: 20%;
    }
    ul.menu-list.desc-menu {
        display: none;
    }
    .logo a{
        font-size: 18px;
    }
    .menu-icon-item svg {
        width: 20px;
        height: auto;
    }
    .header-banner-items {
        margin-top: 35px;
    }
    .menu-icon-item {
        margin: 0;
        padding: 0 5px;
    }
    .container {
        padding: 0 20px;
    }
    .menu-product-count {
        padding: 1px;
        font-size: 10px;
    }
    .add-tobasket-popap {
        z-index: 5;
    }
    .stores-popap-wrap {
        width: 90%;
        padding: 20px 0;
    }
    .stores-prev-img.stores-popap-prev-img {
        width: 70px;
        height: 70px;
    }
    .stores-slider-item {
        height: 500px;
    }
    .basket-popap-wrap {
        width: 100%;
    }
    .basket-prod-name a,.basket-prod-price {
        font-size: 14px;
        line-height: 16px;
    }
    .basket-prod-color {
        margin: 5px 0;
    }
    .basket-prod-articule {
        margin-top: 5px;
    }
    .qwnt >p {
        font-size: 12px;
        padding: 5px 10px;
    }
    .basket-dell-btn, .basket-favorites-btn {
        height: 15px;
    }
    .basket-items, .basket-top-bar  {
        padding: 0 15px;
    }
    
    .basket-item {
        column-gap: 10px;
    }
    .basket-item-content-bottom>div:last-child {
        column-gap: 5px;
    }
    .basket-price>div {
        padding: 10px 15px;
    }
    .search-popup-content, .search-popap-prod-items {
        margin-top: 20px;
        align-items: flex-start;
        flex-direction: column;
    }
    .search-popap-prod-item {
        position: relative;
        margin: 10px 0;
    }
    button.search-btn,
    .search-close-btn button {
        padding: 7px 10px;
    }
    .search-input-row {
        width: 84%;
    }
    .search-close-btn {
        width: 14%;
    }
    .product-page-images {
        width: 100%;
        height: 300px;
    }
    .product-block,
    .breadcrumbs-list {
        flex-wrap: wrap;
    }
    .breadcrumbs-list{
        margin-top: 20px;    
    }
    .product-page-content {
        width: 100%;
    }
    .product-page-image-item {
        width: 100%;
        margin-bottom: 20px;
    }
    button.pr-page-quik-order {
        font-size: 14px;
        padding: 10px 45px;
    }
    button.pr-page-add-to-basket {
        padding: 10px 36px;
        font-size: 14px;
    }
    .main.detail-page {
        margin-top: 100px;
    }
    
}
.hide-product-cards{
    display: none !important;
}